.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* #submit {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #f0f0f0;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  font-size: 18px;
} */
.array-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.array-item {
  text-align: center;
  margin: 0 10px;
}