<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!--Bootsrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--JQuery-->
    <script type="text/javascript" src="../static/packages/jquery-3.3.1.min.js"></script>

    <!--JavaScript customized funcitons-->
    <!--
    <script type="text/javascript" src="{{url_for('static',filename='log_in_func.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='form2Json.js')}}"></script>
    -->
    <!--Favicon -->
    <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static',filename='main_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='log_in_style.css')}}">

    <!--JQuery customized scripts-->
    <script type="text/javascript" src="{{url_for('static',filename='log_in_func.js')}}"></script>


  </head>
<body>
    <h1>EMI Scanner!</h1>
    <h2>Get an EMI mapping of the room</h2>
    <h3>{{ utc_dt }}</h3>
    <!-- Random UI element -->
    <form class="form-container" method="post">
        <div class="row">
            <div class="changing-div col">
              <div id="login-section">
                <br>
                <h3>Input Room Size: </h3>
                <br>
                
                <div class="row">
                  <div class="col coltype1">
                    <label>Height:</label>
                  </div>
                  <div class="col coltype2">
                    <label>
                      <!-- can change default values to mention min size? -->
                      <input type="Height: " class="largeinput" name="Height"  value="0">
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col coltype1">
                    <label>Length:</label>
                  </div>
                  <div class="col coltype2">
                    <label>
                      <input type="Length: " class="largeinput" name="Length" value="0">
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col coltype1">
                    <label>Width:</label>
                  </div>
                  <div class="col coltype2">
                    <label>
                      <input type="Width: " class="largeinput"  name="Width" value="0">
                    </label>
                  </div>
                </div>

              </div>
            </div>
        </div>
        
        <button id="mode-selection" type="submit" class="btn btn-primary">Begin Scan</button>
    </form>
</body>
</html>